*{
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Josefin Sans',
  sans-serif;
  /* font-family: 'Sigmar',
  cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center
}

.app-container::before {
  content: "";
  background-image: url('/Users/doronbrsqh/Downloads/Web\ Dev\ Code\ Academy\ \ /mern-project/client/assets/light-green.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  /* Set the opacity you want (0 to 1) */

  /* Set the dimensions and position of the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Ensure the pseudo-element is below the actual content */
  z-index: -1;
}

@media (max-width: 768px) {
  .app-container::before {
    background-size: auto 100%;
  }
}

.parent-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-container {
    margin: 2rem 2rem;
    margin-top: 5.5rem;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #e8f4ea;
}
.inner-component{
  width: 100%;
}

/***************************     side bar      **********************************/ 

.menu-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #007bff;
  color: #ffffff;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.menu-button:hover {
  background-color: #0056b3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
}
.first-line-sidebar{
  margin-top: 4rem;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff;
  text-decoration: underline;
}

.sidebar a.active {
  font-weight: bold;
  color: #007bff;
}

/****************************************************************************************************************************/


/***************************************************    Profile   ********************************************************/
.profile-pic{
  width: 300px;
  height:300px ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.profile-pic-frame, .profile-edit-frame {
  border: 15px solid white;
  border-bottom: 70px solid white;
  display: inline-block;
}
.edit-profile-container{
  display: flex ;
  flex-direction: row; 
  column-gap: 20px;
}
.profile-comments-container, .profile-likes-container ,.profile-succulents-container{
  border: 2px dotted black;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  column-gap: 15px;
  row-gap: 15px;
}

/***************************************    succulent card    ******************************************/

.succulent-card-div {
  border: 2px solid red;
  width: 300px;
  height: 520px;
  padding: 1rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* overflow: auto; */
}
.succulent-card-div.flipped {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* for Safari */
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
/* test flipping card */

.succulent-card-img{
width: 250px;
height: 250px;
object-fit:cover;
margin-top: 1.3rem;
}

.Succulent-Card-Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Succulent-Card-Modal-inner {
  position: relative;
  /* Add this to position the close button relative to this div */
  border: 2px solid rgb(0, 0, 0);
  /* Add border */
  border-radius: 5px;
  /* Add border radius */
  background-color: #fff;
  padding: 1em;
  padding-top: 3rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  width: 400px;   
}

/* New style for the close button */
.close-modal-btn {
  position: absolute;
  /* Position the button absolutely within the div */
  top: 10px;
  /* Place it near the top */
  right: 10px;
  /* And near the right side */
}
.comment-user-pic{
  width: 55px;
  height:55px;
  object-fit:cover;
  border-radius: 50%;
  border: 4px solid rgba(128, 128, 128, 0.312);
  box-sizing: content-box;
  margin-right: 0.5rem;
}
.single-comment-modal{
  border: 2px dotted black;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  position: relative;
}
.delete-icon-comment {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
  /* this makes the change in size and color smooth */
}

.delete-icon-comment:hover {
  width: 30px;
  /* make icon slightly larger on hover */
  height: 30px;
  /* make icon slightly larger on hover */
  background-color: lightgrey;
  /* change background color on hover */
  border-radius: 50%;
  /* make the background color round */
  padding: 3px;
  /* add some space between the icon and the background color */
}
.succulent-card-btn {
  width: 30px;
  height: 30px;
  padding: 7px;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border-radius: 50%;
  overflow: visible;
  /* new property */
}

.succulent-card-btn:hover {
  background-color: lightgrey;
  transform: scale(1.1);
}

.succulents-page-container{
  width: 80%;
  border: 2px solid black;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
/* need to change the % on smaller screens !!!!! */
}